version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: aeronave_db
      MYSQL_USER: root
      MYSQL_PASSWORD: root@4321
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: