server:
  port: 8080

spring:
  application:
    name: aeronaveV2
  datasource:
    url: jdbc:mysql://localhost:3306/aeronave_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root@4321
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      open-in-view: true
      hibernate:
        ddl-auto: validate
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect

    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true
  app:
    cors:
      allowed-origins: "http://localhost:5173"